<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="width:100%; border-radius:5px; border:solid 1px #808080; height:85px; font-family:Verdana; text-align:center; font-size:medium;">
            <a href="~/Warehouses"> Depo Listesi </a>|
            <a href="~/Warehouses/Add"> Depo Ekle </a>|
            <a href="~/Inventory"> Ürün Listesi </a>|
            <a href="~/Inventory/AddInventory"> Ürün Ekle </a>
        </div>
        @RenderBody()
    </div>
</body>
</html>
