
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Warehouses List</h2>
<br />

@{
    if (ViewBag.WarehouseList != null)
    {
        List<WarehouseInventory.DataLayer.TblWarehouses> warehouses
                = (List<WarehouseInventory.DataLayer.TblWarehouses>)ViewBag.WarehouseList;

        foreach (var warehouse in warehouses)
        {
            <span><a href="~/Warehouses/Detail?WarehouseGuid=@warehouse.WarehouseGuid.Value.ToString()">@warehouse.WarehouseName</a> </span><br />
        }

    }
}
